.header-nav__select{
  display: flex;
  align-items: center;
  margin-left: 38px;
}
.header-nav__select-about{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F2F4FE;
}
#header-nav__select{
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #F2F4FE;
}