.header-nav__select{
  display: flex;
  align-items: center;
  margin-left: 38px;
}
.header-nav__select-about{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F2F4FE;
}
#header-nav__select{
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #F2F4FE;
}
.select-filter{
  padding: 5px 10px;
  background-color: #373F68;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #F2F4FE;  
  border: 1px solid #232832;
  border-radius: 5px;
  margin-left: 10px;
}