@import "../../assets/scss/variables.scss";

.type-badge{
  display: inline-block;
  padding: 5px 16px;

  background-color: #F2F4FF;
  color: $blue;

  border-radius: $border;

  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  margin: 7px;
  transition: all .3s ease;
}
.type-badge:active, .type-badge:hover{
  background: #4661E6;
  color: white;
}
.like{
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
}
