@import "../../assets/scss/variables.scss";

.type-filter{
  background-color: #FFF; 
  border-radius: $border;
  padding: 24px;

  display: flex;
  flex-wrap: wrap;
  gap: 14px 8px;

  margin-bottom: 24px;
}

.type-filter__radio:checked ~ .type-filter__styled-radio{
  background-color: $blue;
  color: #fff;
}